
.comments__modal {
	.modal__inner {
		outline: none;
		max-width: 38rem;
		position: relative;

		.close-button {
			right: -85%;
			cursor: pointer;
			
			svg {
				path {
					fill: white;
				}
			}
		}
	}
	div {
		.modal__list {
			margin: 0 auto;
			max-height: 90vh;	
			overflow: auto;

			li {
				align-items: flex-start;
				.modal__text {
					background-color: #F2F3F5;
					padding: 0.5rem;
					border-radius: 0 4px 4px 4px;
				}
			}
		}
	}

	@media (min-width: $col-l) {
		.modal__inner {
			.close-button {
				// right: -100%;
				position: absolute;
				top: -3.5rem;
				right: 0;
			}
		}
	}
}