.app {
	.header {
		background-color: $dark-grey;
		
		.header__logo {
			animation: App-logo-spin infinite 20s linear;
			height: 3rem;
			pointer-events: none;
		}
		.link {
			color: #61dafb;
		}
	}
}