.close-button {
	right: -85%;
	cursor: pointer;
	
	svg {
		path {
			fill: white;
		}
	}
}

.modal {
	div {
		.modal__list {
			max-width: 95%;
			margin: 0 auto;
			max-height: 90vh;	
			overflow: auto;

			li {
				align-items: flex-start;
				.modal__text {
					background-color: #F2F3F5;
					padding: 0.5rem;
					border-radius: 0 4px 4px 4px;
				}
			}
		}
	}
}