.post-list {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: $light-grey;

	.post {
		max-width: 38rem;
		margin: 1rem auto;

		.post__header {
			a {
				text-decoration: none;
				color: inherit;
				transition: color .3s ease-in-out;

				&:hover {
					color: $red;
				}
			}
		}
		.post__title {
			margin-bottom: .5rem;
			font-weight: bold;
		}
	}
	
	.loader {
		align-self: center;
		justify-self: center;
		margin-top: 1rem;
	}
	

	.more-button {
		width: 100%;
		max-width: 38rem;
		margin: 0 auto;
		justify-self: center;
		background-color: $dark-grey
	}

	+.to-top {
		button {
			background-color: $dark-grey
		}
	}
}